<img  src="http://www.needtoconsume.com/wp-content/uploads/2014/07/Adam-West-and-Burt-Ward.jpg" height='400' width='666'>
<br></br>

<h1>POW! <%=@game.current_turn.name%> attacks <%=@game.opponent_of(@game.current_turn).name%></h1>
<h2><%=@game.opponent_of(@game.current_turn).name%>'s hit points: <%=@game.opponent_of(@game.current_turn).hit_points%>HP</h2>
<h2>OUCHIES! YOU HAVE BEEN PROPERLY MERKED!!!!!!!!!</h2>

<form action="/switch-turns" method='post'>
  <input type="submit" value="OK">
</form>
